[Unit]
Description=Start Magnolia by starting Tomcat
After=local-fs.target network.target

[Service]
Type=forking
User=ec2-user
#WorkingDirectory="/home/ec2-user"
ExecStart=/bin/sh -c "/home/ec2-user/thundercats.sh"

[Install]
WantedBy=default.target
